<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c91df39-9eb8-4170-af0e-3fcd42f574cc" Alias="Free Images For Blogs" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FreeImagesForBlogs</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-23T18:41:10</CreateDate>
    <NodeName Default="Free Images For Blogs" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h5pjc1fy/free-images-for-blogs.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>