<?xml version="1.0" encoding="utf-8"?>
<Media Key="37e77cfb-048c-49c7-b27a-b00f12359ad6" Alias="Istockphoto 1441262452 170667A" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Istockphoto1441262452170667A</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-23T18:55:15</CreateDate>
    <NodeName Default="Istockphoto 1441262452 170667A" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5v4oon2m/istockphoto-1441262452-170667a.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>