<?xml version="1.0" encoding="utf-8"?>
<Media Key="7fc07b9a-5779-4648-b0d7-ea4c19bece0d" Alias="Resizedv2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Resizedv2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-12-23T19:13:48</CreateDate>
    <NodeName Default="Resizedv2" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tr3na51z/resizedv2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>