<?xml version="1.0" encoding="utf-8"?>
<Content Key="c606cba8-dfeb-4db5-99be-e297710fe601" Alias="Blog" Level="2">
  <Info>
    <Parent Key="f8ae041e-094a-4aa0-9903-971245cab3ae">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2022-08-16T23:43:18</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8f12a9ba-ca69-4711-b341-9b56606bbb1b">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Freja og Asta åbner ny danseskole!</p>]]></Value>
    </bodyText>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/0b1883c130bb4b0fa4328770bacf406f",
        "settingsUdi": "umb://element/f863598a3f884ca0a42d5e9f2b5ae3e7"
      },
      {
        "contentUdi": "umb://element/75f82d3f358e4d559e00358380272684",
        "settingsUdi": "umb://element/583fad11fc0e4abdbd0f4e43656f2348"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2313fa38-d735-46ac-bdf6-e6542ad60232",
      "udi": "umb://element/0b1883c130bb4b0fa4328770bacf406f",
      "carouselItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/2065caaf95a24e4d8b089b119da4698b",
              "settingsUdi": "umb://element/0ba7a5b6487b48f7bd5b91039fec9b2a"
            },
            {
              "contentUdi": "umb://element/62c2adea39724da483649a2e91b135af",
              "settingsUdi": "umb://element/e1f1b5bcbce84603a993bac783058713"
            },
            {
              "contentUdi": "umb://element/9de31c3f98af48b0b42139dc97335713",
              "settingsUdi": "umb://element/d5f458105d344ef1ae88361a6dc15595"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "8509590e-fbed-411e-845a-619cf11da5c7",
            "udi": "umb://element/2065caaf95a24e4d8b089b119da4698b",
            "image": [
              {
                "key": "47362050-8eba-4c9a-b9be-522d53e730ba",
                "mediaKey": "7fc07b9a-5779-4648-b0d7-ea4c19bece0d"
              }
            ],
            "title": "",
            "description": "Vi åbner en ny danseskole ved navn Energy Space"
          },
          {
            "contentTypeKey": "8509590e-fbed-411e-845a-619cf11da5c7",
            "udi": "umb://element/62c2adea39724da483649a2e91b135af",
            "image": [
              {
                "key": "c722bc7c-f6ba-4c11-973a-d8fe6ada9bd0",
                "mediaKey": "23ec4a36-08cd-4edf-b9d9-f8ea4919c282"
              }
            ],
            "description": "Ny ansættelse: Asta",
            "title": ""
          },
          {
            "contentTypeKey": "8509590e-fbed-411e-845a-619cf11da5c7",
            "udi": "umb://element/9de31c3f98af48b0b42139dc97335713",
            "image": [
              {
                "key": "00b84cc0-c550-47c8-82ad-68fb7c400cb5",
                "mediaKey": "717e06bf-7f83-4319-8243-02eca239735a"
              }
            ],
            "description": "Ny ansættelse: Freja"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "0ab8793c-db06-4fc7-82f4-6214da7f640f",
            "udi": "umb://element/0ba7a5b6487b48f7bd5b91039fec9b2a"
          },
          {
            "contentTypeKey": "0ab8793c-db06-4fc7-82f4-6214da7f640f",
            "udi": "umb://element/e1f1b5bcbce84603a993bac783058713"
          },
          {
            "contentTypeKey": "0ab8793c-db06-4fc7-82f4-6214da7f640f",
            "udi": "umb://element/d5f458105d344ef1ae88361a6dc15595"
          }
        ]
      }
    },
    {
      "contentTypeKey": "5ac62690-aa64-4335-8a31-5224550fd73a",
      "udi": "umb://element/75f82d3f358e4d559e00358380272684",
      "title": "Vi elsker at danse!",
      "description": "Vi danser med hjertet, og elsker at vise andre unge mennesker hvilken energi man kan få ud af dansen! \n\nDerfor har vi valgt at fokusere på børn og unge.",
      "featuredItems": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/d1d10b80ff5d47429aefc2602a807b67",
              "settingsUdi": "umb://element/487cb6c35a6e494e992364a1b1ceb740"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "42ac82ca-8b23-4643-b151-ba4bd553e892",
            "udi": "umb://element/d1d10b80ff5d47429aefc2602a807b67",
            "image": [
              {
                "key": "5f5306bd-dc47-4d98-b53c-2a3838925d4c",
                "mediaKey": "efac5a3b-d918-4d3b-91ee-1b382409c354"
              }
            ],
            "link": [
              {
                "name": "UrbanZone16 på instagram",
                "url": "https://www.instagram.com/urbanzone_16/"
              }
            ],
            "description": "Vores team af dansere fra UrbanZone16 er byggestenen af danseskolen, og vi er meget stolte af dem.",
            "title": "UrbanZone16"
          }
        ],
        "settingsData": [
          {
            "contentTypeKey": "50e50fe5-6f47-4daa-a76d-1c5c0aa603d1",
            "udi": "umb://element/487cb6c35a6e494e992364a1b1ceb740"
          }
        ]
      }
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "b76d6507-842d-4b7c-bd2c-16b3f9cf6a93",
      "udi": "umb://element/f863598a3f884ca0a42d5e9f2b5ae3e7",
      "hide": "0",
      "showIndicators": "0",
      "showNavigationArrows": "0",
      "showDarkMode": "0"
    },
    {
      "contentTypeKey": "5f89400d-ca33-412e-828f-9f5830a4c2f7",
      "udi": "umb://element/583fad11fc0e4abdbd0f4e43656f2348",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "6cabf9ef-fa98-42ab-9b08-23925fe50f27",
    "mediaKey": "c8c33b2d-77b4-483e-95b0-78dea5052cda"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[Her vil vi dele vores hverdag, de begivenheder og bedrifter der udføres gennem Energy Space]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Blog: EnergySpace!]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>