<?xml version="1.0" encoding="utf-8"?>
<Content Key="5e389936-b142-4867-b332-a405fac18f6d" Alias="Contact" Level="2">
  <Info>
    <Parent Key="f8ae041e-094a-4aa0-9903-971245cab3ae">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2022-08-16T23:43:27</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d267e100-de8a-4909-bd39-00dc95669a99">ContactPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p><strong>Kontaktinformation:</strong></p>
<p><strong>Organisation:</strong></p>
<ul>
<li><strong>Email:</strong> <a target="_new">info@energyspace-dance.com</a></li>
<li><strong>Telefon:</strong> +45 1234 5678</li>
</ul>
<p><strong>Freja - Medejer:</strong></p>
<ul>
<li><strong>Email:</strong> <a target="_new">freja@energyspace-dance.com</a></li>
</ul>
<p><strong>Asta - Medejer:</strong></p>
<ul>
<li><strong>Email:</strong> <a target="_new">asta@energyspace-dance.com</a></li>
</ul>
<p>Vi ser frem til at høre fra dig og dele energien med dig på Energy Space!</p>]]></Value>
    </bodyText>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a22450fd9b0a44af9c4212fa1a8ea530",
        "settingsUdi": "umb://element/84977119658b481a9c160e135c254c3b"
      },
      {
        "contentUdi": "umb://element/02fae28aa46447b885fcc5a88fa2ab81",
        "settingsUdi": "umb://element/311bd88df691490bbb2c9d56db70bfbf"
      },
      {
        "contentUdi": "umb://element/fc489db0cfae4c71adfc0adfe479682c",
        "settingsUdi": "umb://element/30a63a72c9714ec4b23b83621db31d60"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "ac2e4966-85c9-4137-ae63-e07f820f88b1",
      "udi": "umb://element/a22450fd9b0a44af9c4212fa1a8ea530",
      "content": "<p>Velkommen til Energy Space - stedet hvor dans og livsglæde mødes! Har du spørgsmål, ønsker at tilmelde dig vores kurser eller vil have mere information? Vi er her for at hjælpe dig!</p>"
    },
    {
      "contentTypeKey": "80e32829-baab-4a5e-90a4-5cb2b37109bb",
      "udi": "umb://element/02fae28aa46447b885fcc5a88fa2ab81",
      "image": [
        {
          "key": "f025dd7e-e3ff-452b-ab16-a09267a223f6",
          "mediaKey": "c8c33b2d-77b4-483e-95b0-78dea5052cda"
        }
      ],
      "link": null
    },
    {
      "contentTypeKey": "ac2e4966-85c9-4137-ae63-e07f820f88b1",
      "udi": "umb://element/fc489db0cfae4c71adfc0adfe479682c",
      "content": "<p><strong>Kontaktinformation:</strong></p>\n<p><strong>Organisation:</strong></p>\n<ul>\n<li><strong>Email:</strong> <a target=\"_new\">info@energyspace-dance.com</a></li>\n<li><strong>Telefon:</strong> +45 1234 5678</li>\n</ul>\n<p><strong>Freja - Medejer:</strong></p>\n<ul>\n<li><strong>Email:</strong> <a target=\"_new\">freja@energyspace-dance.com</a></li>\n</ul>\n<p><strong>Asta - Medejer:</strong></p>\n<ul>\n<li><strong>Email:</strong> <a target=\"_new\">asta@energyspace-dance.com</a></li>\n</ul>\n<p>Vi ser frem til at høre fra dig og dele energien med dig på Energy Space!</p>"
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "c5d15e9e-8637-47be-bf5f-bcbdde739953",
      "udi": "umb://element/84977119658b481a9c160e135c254c3b",
      "hide": "0"
    },
    {
      "contentTypeKey": "f799051f-7674-46e5-8afa-39faf5745936",
      "udi": "umb://element/311bd88df691490bbb2c9d56db70bfbf",
      "hide": "0"
    },
    {
      "contentTypeKey": "c5d15e9e-8637-47be-bf5f-bcbdde739953",
      "udi": "umb://element/30a63a72c9714ec4b23b83621db31d60",
      "hide": "0"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "7fe717cf-e29b-4453-85fb-94d4b9957cf1",
    "mediaKey": "c8c33b2d-77b4-483e-95b0-78dea5052cda"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Kontakt Energy Space]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>